<template>
  <div class="view-container">
    <h1 class="text--center">Paldies, {{ userName }}!</h1>
    <p>Apsveicam! Tavs rezultāts ir {{ score }}%.</p>
    <p>Lai jauka diena!</p>
    <Button @click="handleRestartClicked()" v-if="otherQuizzesAvailable">
      Aizpildīt vēl kādu?
    </Button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Store } from 'vuex'
import * as Mutations from '../store/mutations'
import { State } from '../store/state'
import Button from '../components/Button.vue'

export default Vue.extend({
  name: 'FinishedView',
  components: { Button },

  computed: {
    $state: function(): State { return this.$store.state },
    userName() {
      let user = this.$state.userName!

      // get vocative form of male names, if possible
      if (user.slice(-2) === 'is') {
        // Jānis => Jāni
        user = user.slice(0, -1)
      } else if (user.slice(-1) === 's' && user.slice(-2) !== 'us') {
        // Marks => Mark
        // but not Mikus => Miku (although should it?)
        user = user.slice(0, -1)
      }

      return user
    },
    score() { return this.$state.resultScore! },
    otherQuizzesAvailable() {
      // checks whether more than zero quizzes are available
      return this.$state.quizzes.reduce(
        (a, q) => a + (q.isAvailable ? 1 : 0), 0) > 0
    },
  },

  methods: {
    handleRestartClicked() {
      this.$store.commit(Mutations.RESET_FILLOUT_STATE)
    },
  },
})
</script>

<style scoped>
</style>


