<template>
  <div class="view-container"></div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Spinner } from 'spin.js'
import 'spin.js/spin.css'

const SpinnerConfig = {
  lines: 8,
  length: 0,
  width: 13,
  radius: 22,
  speed: 1.3,
  color: '#888',
  fadeColor: '#fff',
  shadow: '0 0 1px #eee',
}

type DataShape = { spinner: Spinner | null }

export default Vue.extend({
  name: 'LoadingView',

  data(): DataShape {
    return { spinner: null }
  },

  mounted() {
    this.spinner = new Spinner(SpinnerConfig).spin()
    this.$el.appendChild(this.spinner.el!)
  },

  beforeDestroy() {
    if (this.spinner !== null) {
      this.spinner.stop()
    }
  },
})
</script>
