<script lang="ts">
import Vue, { VueConstructor } from 'vue'

import QuizPickerView from './QuizPickerView.vue'
import QuestionView from './QuestionView.vue'
import FinishedView from './FinishedView.vue'
import LoadingView from './LoadingView.vue'
import { State } from '../store/state'


// let QuestionView: VueConstructor<Vue>,
//     FinishedView: VueConstructor<Vue>

export default Vue.extend({
  name: 'MainView',

  inheritAttrs: true,

  render(cb) {
    let $state: State = this.$store.state

    if ($state.isLoading) {
      return cb(LoadingView)
    } else if ($state.resultScore !== null) {
      return cb(FinishedView)
    } else if ($state.currentQuestion !== null) {
      return cb(QuestionView)
    } else {
      return cb(QuizPickerView)
    }
  },
})

// import('./QuestionView.vue')
//   .then((questionView) => {
//     QuestionView = questionView.default
//     return import('./FinishedView.vue')
//   }).then((finishedView) => {
//     FinishedView = finishedView.default
//   })


</script>
