<template>
  <div class="view-container">
    <h1 v-text="question.question" class="text--center"></h1>
    <div class="answer-box">
      <Answer v-for="answer in answers"
          class="answer-box__answer"
          :key="answer.id" :answer="answer"
          :selected="selectedAnswer === answer"
          @selected="handleAnswerSelected(answer)" />
    </div>
    <p>
      <ProgressBar :progress="position" class="block--center" />
    </p>
    <Button v-if="!advancementDisabled"
      @click="handleAdvanceButtonClicked"
      :alternative="true">
        <span v-if="isFinal">Pabeigt!</span>
        <span v-else>Nākamais</span>
    </Button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Store } from 'vuex'
import * as Actions from '../store/actions'
import * as Mutations from '../store/mutations'
import { State } from '../store/state'
import AnswerModel from '../models/answer'
import Question from '../models/question'
import Answer from '../components/Answer.vue'
import Button from '../components/Button.vue'
import ProgressBar from '../components/ProgressBar.vue'

export default Vue.extend({
  name: 'QuestionView',

  components: { Answer, Button, ProgressBar },

  computed: {
    $state(): State { return this.$store.state },
    question(): Question { return this.$state.currentQuestion! },
    answers(): AnswerModel[] { return this.$state.answers },
    selectedAnswer(): Nullable<AnswerModel> { return this.$state.selectedAnswer },

    position(): number {
      let questions = this.$state.questions,
          current = this.question

      let i = questions.indexOf(current) + 1

      return i / questions.length
    },
    isFinal(): boolean {
      let questions = this.$state.questions,
          current = this.question
      return questions.indexOf(current) + 1 === questions.length
    },

    advancementDisabled(): boolean { return this.selectedAnswer === null },
  },

  methods: {
    handleAnswerSelected(answer: AnswerModel) {
      this.$store.commit(Mutations.SET_SELECTED_ANSWER, answer)
    },

    handleAdvanceButtonClicked() {
      this.$store.dispatch(Actions.ADVANCE_QUESTION)
    },
  },
})
</script>

<style lang="scss">
$answer-box-fulfillment: 90%;
$answer-box-items-per-row: 2;
$answer-box-item-size: $answer-box-fulfillment / $answer-box-items-per-row;

.answer-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  &__answer {
    width: 100%;
    @media screen and (min-width: 40rem) {
      width: $answer-box-item-size;
    }

    $margin: (100% / $answer-box-items-per-row) - ($answer-box-item-size);
    margin: {
      top: $margin / 2;
      bottom: $margin / 2;
    }
  }
}
</style>


