<template>
  <div class="view-container view-container--narrow">
    <h1 class="text--center">Testa uzdevums</h1>
    <div v-if="hasQuizzesAvailable">
      <p>
        <input type="text" class="text-input text-input--centered"
            v-model="userName"
            placeholder="Norādiet savu vārdu...">
      </p>
      <p>
        <select v-model="selectedQuizId" class="dropdown">
          <option v-for="quiz in quizzes"
              :key="quiz.id"
              :value="quiz.id"
              :disabled="!quiz.isAvailable"
              v-text="quiz.name"></option>
        </select>
      </p>
      <Button v-if="!submissionDisabled"
          @click="handleStartButtonClicked">Aiziet!</Button>
    </div>
    <p v-else class="text--center">
      Visi testi jau ir aizpildīti! Lai jauka diena.
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Store } from 'vuex'
import * as Actions from '../store/actions'
import * as Mutations from '../store/mutations'
import { select } from '../utils'
import { State } from '../store/state'
import Quiz from '../models/quiz'
import Button from '../components/Button.vue'

export default Vue.extend({
  components: { Button },

  computed: {
    $state(): State { return this.$store.state },
    quizzes(): Quiz[] { return this.$state.quizzes },
    selectedQuiz(): Quiz | null { return this.$state.selectedQuiz },
    hasQuizzesAvailable(): boolean {
      return this.quizzes.reduce((a, q) => a + (q.isAvailable ? 1 : 0), 0) > 0
    },

    submissionDisabled(): boolean {
      return this.userName === null ||
          this.userName.trim() === '' ||
          this.selectedQuiz === null
    },

    selectedQuizId: {
      get(): number | null {
        if (this.selectedQuiz === null) {
          return null
        }
        return this.selectedQuiz.id
      },
      set(id: number) {
        let quiz = select(this.quizzes, quiz => quiz.id === id)
        this.$store.commit(Mutations.SET_SELECTED_QUIZ, quiz)
      },
    },

    userName: {
      get(): string | null { return this.$state.userName },
      set(name: string) {
        this.$store.commit(Mutations.SET_USER_NAME, name)
      },
    },
  },

  methods: {
    handleStartButtonClicked() {
      if (this.userName === null || this.userName.trim() === '') {
        alert('Lūdzu, norādiet savu vārdu.')
        return
      } else if (this.selectedQuiz === null) {
        alert('Lūdzu, izvēlieties testu.')
        return
      }

      this.$store.dispatch(Actions.START_ATTEMPT)
    },
  },
})
</script>
