<!doctype html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title><?= $title ?: '(untitled)' ?></title>
<link rel="stylesheet" href="/admin.css">
<div class="container">
  <?= $content ?: '' ?>
</div>
<script src="/admin.js"></script>
