<template>
  <div>
    <h1>Quiz Administration</h1>
    <div v-if="userResults === null">Loading recent user results&hellip;</div>
    <div v-else>
      <h2>Recent user results</h2>
      <ResultList :userResults="userResults" />
      <!-- <router-link to="/user-results">More</router-link> -->
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { UserResult } from '../models'
import * as Actions from '../store/actions'
import { State } from '../store/state'
import ResultList from '../components/ResultList.vue'

export default Vue.extend({
  components: { ResultList },

  computed: {
    $state: function(): State { return this.$store.state },
    userResults(): UserResult[] | null {
      let userResults = this.$state.userResults
      if (userResults === null) {
        return null
      }

      return userResults.slice(0, 11)
    },
  },

  created() {
    if (this.$state.userResults === null) {
      this.$store.dispatch(Actions.LOAD_USER_RESULTS)
    }
  },
})
</script>

