<template>
  <div v-if="user !== null">
    <h1>User: {{ user.name }} <small class="user-header__id">#{{ user.id }}</small></h1>
  </div>
  <div v-else-if="error">
    <p>Sorry, something went wrong.</p>
  </div>
  <div v-else>
    <p>Please stand by while we load this information&hellip;</p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import { User } from '../models'
import * as Actions from '../store/actions'
import { State } from '../store/state'

export default Vue.extend({
  data() {
    return { error: false }
  },

  computed: {
    $state: function(): State { return this.$store.state },
    user(): User | null {
      let userId = parseInt(this.$route.params.user, 10)

      if (userId in this.$state.users) {
        return this.$state.users[userId]
      }
      return null
    },
  },

  watch: {
    $route(to, from) {
      this.error = false

      let user = parseInt(to.params.user, 10)
      if ( ! (user in this.$state.users)) {
        this.$store.dispatch(Actions.LOAD_USER, user)
          .catch((err) => {
            console.error('Failed to load user: %o', err)
            this.error = true
          })
      }
    },
  },

  beforeMount() {
    if (this.user === null) {
      this.$store.dispatch(Actions.LOAD_USER, this.$route.params.user)
        .catch((err) => {
          console.error('Failed to load user: %o', err)
          this.error = true
        })
    }
  },
})
</script>

<style lang="scss" scoped>
  .user-header__id {
    font-size: 85%;
    color: #999;
  }
</style>

