<template>
  <button v-text="answer.answer"
      :class="{ answer: true, 'answer--selected': this.selected }"
      @click="handleClicked()"></button>
</template>

<script lang="ts">
import Vue from 'vue'

import Answer from '../models/answer'
import * as Actions from '../store/actions'

export default Vue.extend({
  name: 'Answer',

  props: {
    answer: {
      type: Answer,
      required: true,
    },
    selected: {
      type: Boolean,
      required: true,
    },
  },

  methods: {
    handleClicked() {
      this.$emit('selected')
    },
  },
})
</script>

<style lang="scss" scoped>
  $answer-color: lighten(rebeccapurple, 50%);

  .answer {
    display: inline-block;
    font-size: inherit;
    padding: 1.25em 0.75em;
    border: none;
    background-color: $answer-color;

    &:hover {
      cursor: pointer;
      background-color: lighten($answer-color, 2.5%);
    }

    &--selected {
      background-color: darken($answer-color, 12.5%);
      &:hover {
        background-color: darken($answer-color, 7.5%);
      }
    }
  }
</style>


