<!-- Why does this exist? -->

<template>
  <button :class="className"
      :disabled="disabled"
      @click="handleClicked"><slot /></button>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'Button',

  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
    alternative: {
      type: Boolean,
      required: false,
      default: false,
    },
  },

  computed: {
    className() {
      let cls: { [key: string]: boolean } = { button: true }

      let colorCls = this.alternative ? 'button--purple' : 'button--default'
      cls[colorCls] = true

      if (this.disabled) {
        cls[`${colorCls}--disabled`] = true
      }

      return cls
    },
  },

  methods: {
    handleClicked() {
      if (this.disabled) {
        return
      }

      this.$emit('click')
    },
  },
})
</script>

<style lang="scss" scoped>
  $button-default-color: #2196F3;
  $button-purple-color: lighten(rebeccapurple, 20%);

  @mixin button-color($color) {
    background-color: $color;
    &:hover {
      background-color: lighten($color, 5%);
    }
    &--disabled, &--disabled:hover {
      background-color: lighten($color, 12.5%);
    }
  }

  .button {
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: inherit;
    padding: 1em 0.5em;
    border-radius: 0.25em;
    border: none;
    color: white;

    &:hover {
      cursor: pointer;
    }

    &--disabled, &--disabled:hover {
      cursor: not-allowed;
    }

    &--default {
      @include button-color($button-default-color);
    }
    &--purple {
      @include button-color($button-purple-color);
    }
  }
</style>

