<template>
  <div class="progress-bar progress-bar--full" v-if="this.progress > 0.95"></div>
  <div class="progress-bar" v-else>
    <div :style="{ width: this.width }" v-if="this.progress > 0"
        class="progress-bar__indicator"></div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'ProgressBar',

  props: {
    progress: {
      type: Number,
      required: true,
      min: 0,
      max: 1,
    },
  },

  computed: {
    width() {
      // TODO: optionally replace with 95 to give illusion of progress
      let percent = Math.round(100 * this.progress)

      return `${percent}%`
    },
  },
})
</script>

<style lang="scss" scoped>
  $pbar-color: lighten(rebeccapurple, 42.5%);

  .progress-bar {
    border: 1px solid darken($pbar-color, 7.5%);
    background-color: lighten($pbar-color, 12.5%);

    display: block;
    width: 10em;
    height: 1em;
    border-radius: 0.5em;
    &--full {
      background-color: $pbar-color;
    }
  }

  .progress-bar__indicator {
    content: ' ';
    width: 0%;
    height: 100%;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    background-color: $pbar-color;
  }
</style>


