@mixin forms-reset {
  width: 100%;
  font-size: inherit;
  margin: 0;
  padding: 0.25em;
}

.text-input {
  @include forms-reset;

  &--centered {
    text-align: center;
  }
}

.dropdown {
  @include forms-reset;
}

