<template>
  <router-link :to="`/quiz/${quiz.id}`" class="quiz" v-if="quiz !== null">
    <span class="quiz__name" v-text="quiz.name"></span>
    <span class="quiz__id">#{{ quiz.id }}</span>
  </router-link>
  <span class="quiz quiz--loading" v-else>loading</span>
</template>

<script lang="ts">
import Vue from 'vue'

import * as Actions from '../store/actions'
import { State } from '../store/state'
import { Quiz } from '../models'

export default Vue.extend({
  props: [ 'quizId' ],

  computed: {
    $state: function() : State { return this.$store.state },
    quiz(): Quiz | null {
      if (this.quizId in this.$state.quizzes) {
        return this.$state.quizzes[this.quizId]
      }

      return null
    },
  },

  beforeMount() {
    if (this.quiz === null) {
      this.$store.dispatch(Actions.LOAD_QUIZ, this.quizId)
    }
  },
})
</script>

<style lang="scss" scoped>
  .quiz {
    color: inherit;
  }

  .quiz--loading {
    font-style: italic;
  }

  .quiz__id {
    font-size: 0.75rem;
    color: #999;
  }
</style>
