<template>
  <table class="result-table" cellspacing="0">
    <thead>
      <tr :class="{ 'result-row': true, 'result-row--alternated': alternated() }">
        <th>Quiz</th>
        <th>Submitter</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr :class="{ 'result-row': true, 'result-row--alternated': alternated() }"
          v-for="result in userResults"
          :key="result.id">
        <td><Quiz :quizId="result.quiz_id" /></td>
        <td><User :userId="result.user_id" /></td>
        <td>
          <router-link class="result-row__link" :to="`/result/${result.id}`">
            {{ result.score }}%
          </router-link>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import Vue from 'vue'
import { UserResult } from '../models'
import Quiz from './Quiz.vue'
import User from './User.vue'

let _alternated = false
export default Vue.extend({
  name: 'ResultList',

  components: { Quiz, User },

  props: [ 'userResults' ],

  methods: {
    alternated(): boolean {
      try {
        return _alternated
      } finally {
        _alternated = !_alternated
      }
    },
  },
})
</script>

<style lang="scss" scoped>
  .result-table {
    width: 100%;
  }
  .result-row {
    height: 1.875em;
    &--alternated {
      background-color: #eee;
    }
    &__link {
      color: inherit;
    }
  }
</style>
