<template>
  <router-link :to="`/user/${user.id}`" class="user" v-if="user !== null">
    <span class="user__name" v-text="user.name"></span>
    <span class="user__id">#{{ user.id }}</span>
  </router-link>
  <span class="user user--loading" v-else>loading</span>
</template>

<script lang="ts">
import Vue from 'vue'

import * as Actions from '../store/actions'
import { State } from '../store/state'
import { User } from '../models';

export default Vue.extend({
  props: [ 'userId' ],

  computed: {
    $state: function(): State { return this.$store.state },
    user(): User | null {
      if (this.userId in this.$state.users) {
        return this.$state.users[this.userId]
      }

      return null
    },
  },

  beforeMount() {
    if (this.user === null) {
      this.$store.dispatch(Actions.LOAD_USER, this.userId)
    }
  },
})
</script>


<style lang="scss" scoped>
  .user {
    color: inherit;
  }

  .user--loading {
    font-style: italic;
  }

  .user__id {
    font-size: 0.75em;
    color: #999;
  }
</style>
